body {
  /* background-color: #0f0a20; */
  background: rgb(10, 32, 18);
  background: linear-gradient(
    180deg,
    rgba(10, 32, 18, 1) 0%,
    rgba(121, 9, 97, 1) 50%,
    rgba(0, 144, 255, 1) 100%
  );
  color: aliceblue;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin: 0 1rem
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about, .projects, .blog, .contact, .resume {
  padding: 10rem 0;
}